<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>首页</title>
		<meta charset="utf-8" />
		<link href="/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span12">
					<table class="table">
						<thead>
							<tr>
								<th>Num</th>
								<th>Host</th>
								<th>User</th>
								<th>Password</th>
							</tr>
						</thead>
						<tbody>
							<tr class="info" th:each="item,stat : ${user}">
								<td th:text="${stat.count}">1</td>
								<td th:text="${item.Host}">Host</td>
								<td th:text="${item.User}">User</td>
								<td th:text="${item.Password}">Password</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>